package components

templ Logo() {
	<span class={ logoClass() }>Новости</span>
}

css logoClass() {
	display: flex;
	align-items: center;
	width: 120px;
	height: 48px;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: var(--color-secondary);
}
