package components

templ Menu() {
	<nav class={ menuClass() }>
		@MenuButton() {
			@AuthLink(AuthLinkProps{Href: "/categories", Text: "Категории"})
			<img src="/public/icons/arrow-down.svg" alt="arrow-down"/>
		}
		@MenuButton() {
			<span>Контакты</span>
		}
	</nav>
}

css menuClass() {
	display: flex;
	align-items: center;
	gap: 67px;
}
