package components

templ Title2(title string) {
	<h2 class={ title2Class() }>{ title }</h2>
}

css title2Class() {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 50px;
	color: { templ.SafeCSSProperty("var(--color-black)") };
}
