package views

import "ostkost/go-ps-fiber/views/layout"

templ Main() {
	@layout.Layout(layout.LayoutProps{
		Title:           "Найди работу своей мечты",
		MetaDescription: "Простой поиск работы",
	}) {
		@layout.Hero() {
			@layout.Menu()
			@layout.HeroAction()
		}
		<main>
			@layout.PostVacancy()
		</main>
	}
}
