package views

import "ostkost/go-ps-fiber/views/layout"
import "ostkost/go-ps-fiber/internal/vacancy"

templ Main(vacancies []vacancy.Vacancy, pagesCount, page int) {
	@layout.Layout(layout.LayoutProps{
		Title:           "Найди работу своей мечты",
		MetaDescription: "Простой поиск работы",
	}) {
		@layout.Hero() {
			@layout.Menu()
			@layout.HeroAction()
		}
		<main>
			@layout.VacancyList(vacancies, pagesCount, page)
			@layout.PostVacancy()
		</main>
	}
}
