{{ template "base" .}}

{{ define "title" }}
    <title>Main page</title>
{{ end }}

{{ define "content" }}
    <h1>Content</h1>
    <h2>Hello, {{.Name}}, this is my first page.</h2>
{{/*    <h2>{{.Count}} users</h2>*/}}
{{/*    <h3>*/}}
{{/*        {{ if eq .Count 500 }}*/}}
{{/*            <p>Gratz 1</p>*/}}
{{/*        {{ else if and .IsAdmin and lt .Count 1000  }}*/}}
{{/*            <p>Gratz 2</p>*/}}
{{/*        {{ else if gt .Count 5 }}*/}}
{{/*            <p>Gratz 3</p>*/}}
{{/*        {{ end }}*/}}
{{/*    </h3>*/}}

{{/*    {{$num := 10}}*/}}

{{/*    <ul>*/}}
{{/*        {{ range .Words }}*/}}
{{/*        <li>{{ . }} - {{ $num }}</li>*/}}
{{/*        {{ end }}*/}}
{{/*    </ul>*/}}

{{/*    <ul>*/}}
{{/*        {{ range .Users }}*/}}
{{/*        <li>*/}}
{{/*            <b>{{ .Name | ToUpper}}</b> - <i>{{ .Age }}</i>*/}}
{{/*        </li>*/}}
{{/*        {{ end }}*/}}
{{/*    </ul>*/}}

{{/*    {{ if .IsAdmin }}*/}}
{{/*    <div>Admin</div>*/}}
{{/*    {{ else }}*/}}
{{/*    <div>Not admin</div>*/}}
{{/*    {{ end }}*/}}
{{ end}}